<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c25abe3fb5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>Alunos</title>
</head>
<body class="bg-white text-dark">
    <div class="container">
        <if(data.error_messages != '')>
            <div class="p-3 mb-2 bg-danger text-white" style="text-align: center;" >
                <i class="fas fa-bomb" style="margin-right: 2%;"></i>
                ${data.error_messages}
            </div>
        </if>
        <if(data.sucess_message != '')>
            <div class="p-3 mb-2 bg-success text-white" style="text-align: center;" >
                <i class="fas fa-check-circle" style="margin-right: 2%;"></i>
                ${data.sucess_message}
            </div>
        </if>
        <h1 style="text-align: center; font-weight: bolder;">ALUNOS</h1>
        <a href="/form" class="btn btn-success" style="margin: 2%;"><i class="fas fa-user-plus"></i></a>
        
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Curso</th>
                <th>Opções</th>
            </thead>
            <for|aluno, index| of=data.results>
                <tr>
                    <td>${aluno.id}</td>
                    <td>${aluno.nome}</td>
                    <td>${aluno.curso}</td>
                    <td>
                        <a href="/form/${aluno.id}" class="btn btn-warning" style="margin-right: 2%;"><i class="fas fa-edit"></i></a>
                        <a href="/alunos/delete/${aluno.id}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            </for>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
</body>
</html>